body {
  font-family: sans-serif;
  margin: 0;
}

.identity-tile {
  position: relative;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;

  transition: padding 0.3s ease,
              padding-left 0.3s ease,
              padding-top 0.3s ease,
              padding-right 0.3s ease,
              padding-bottom 0.3s ease;
}

.identity-tile:hover {
  padding: 0!important;
  padding-left: 0!important;
  padding-top: 0!important;
  padding-right: 0!important;
  padding-bottom: 0!important;
}

.identity-tile > .centered {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.identity-tile .icon {
  filter: invert(1);
}

.identity-tile .edit {
  position: absolute;
  top: 20px;
  right: 20px;

  transition: top 0.3s ease,
              right 0.3s ease;
}

.identity-tile .badge {
  position: absolute;
  top: 20px;
  left: 20px;

  visibility: hidden;

  transition: top 0.3s ease,
              left 0.3s ease;
}

.identity-tile .badge.visible {
  visibility: visible;
}

#editModal .select-icon label {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#editModal .select-icon img {
  flex-grow: 1;
  max-width: 25px;
}

#editModal .select-icon label.active {
  border-width: 1px;
  border-color: #000000;
}

#editModal .select-color img {
  flex-grow: 1;
  max-width: 20px;
  filter: invert(1);
}

#editModal .select-color label {
  border-width: 0;
  box-shadow: none;
}

#editModal .select-color label.active {
  border-width: 1px;
  border-color: #000000;
}

#editModal .modal-footer,
#confirmDeleteModal .modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.floating-button {
  position: fixed;
  bottom: 0;
  right: 0;

  margin: 10px;
}

.floating-button button {
  padding: 12px;
  width: 49px;
  height: 49px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.floating-button button img {
  filter: invert(1);
}
