body {
  font-family: sans-serif;
  margin: 0;
}
.flex {
  display: flex;
  justify-content: center;
}
.search {
  position: sticky;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
  top: 0;
}
.flex > input,
.flex > button {
  height: 35px;
  font-size: 18px;
  border-radius: 5px;
}
.flex > input {
  width: 90vw;
  border: 1px solid #cccccc;
  padding: 6px 12px;
  color: #555555;
  background-color: #ffffff;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.tile-group {
  font-size: 0;
  margin: 10px 0;
}
.tile-group .tile {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  margin: 2px;
  font-size: 20px;
  overflow: hidden;
  cursor: pointer;
  color: white;
}
.tile-group .tile .content {
  text-align: center;
  user-select: none;
}
.tile-group .tile .content .icon {
  font-size: 2.5em;
}
.tile-group .tile .content .icon img {
  filter: invert(1);
}
.tile-group .tile .content .title {
  position: relative;
  font-size: 1.2em;
  opacity: 1;
  letter-spacing: 2px;
}
